DotnetProject/ScuityDotnetTests/obj/
DotnetProject/ScuityDotnetTests/bin/
DotnetProject/SecurityDotnet/obj/
DotnetProject/SecurityDotnet/bin/
NodeJsProject/node_modules/
DotnetProject/.vs/SecurityDotnet/
